# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# macOS
.DS_Store

# Python egg files
*.egg
*.egg-info
dist/
build/
eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
